.navigation a:hover {
  background-color:#ddd;
  color: black;
}
      
 .navigation{
  background-color: pink;
  overflow: hidden;
}
      
.navigation a {
  float: left;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
body{
	background-color: white;

	

background-image: url("DOWNLOADS/nyama choma.jpg ");

  
  height: 100%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}
}
label{
	color: pink;
}